CREATE DATABASE [TALLER_MECANICO]

USE [TALLER_MECANICO]

CREATE TABLE [dbo].[cliente](
	[rutCliente] [varchar](10) PRIMARY KEY NOT NULL,
	[nombreCliente] [varchar](35) NULL,
	[apellidoCliente] [varchar](35) NULL,
	[direccionCliente] [varchar](100) NULL,
	[telefonoCliente] [int] NULL,
	[correoCliente] [varchar](50) NULL
)

CREATE TABLE [dbo].[detalle_orden](
	[folioDetalleOrden] [int] PRIMARY KEY IDENTITY(1,1) NOT NULL,
	[fk_folioOrden] [int] NULL,
	[fk_idServicio] [int] NULL,
	[fk_idRepuesto] [int] NULL
)

CREATE TABLE [dbo].[detalle_presupuesto](
	[folioDetalle] [int] PRIMARY KEY IDENTITY(1,1) NOT NULL,
	[fk_folioEncabezado] [int] NULL,
	[fk_idServicio] [int] NULL,
	[fk_idRepuesto] [int] NULL,
	[cantidadServicio] [int] NULL,
	[cantidadRepuesto] [int] NULL,
	[subTotal] [decimal](18, 4) NULL,
)

CREATE TABLE [dbo].[encabezado_presupuesto](
	[folioEncabezado] [int] PRIMARY KEY IDENTITY(1,1) NOT NULL,
	[fk_rutCliente] [varchar](10) NULL,
	[fk_patente] [varchar](6) NULL,
	[fecha] [date] NULL,
	[iva] [decimal](18, 4) NULL,
	[total] [decimal](18, 4) NULL
)

CREATE TABLE [dbo].[orden_trabajo](
	[folioOrden] [int] PRIMARY KEY IDENTITY(1,1) NOT NULL,
	[fk_idUsuario] [int] NULL,
	[fk_rutCliente] [varchar](10) NULL,
	[fk_patente] [varchar](6) NULL,
	[fecha] [date] NULL,
	[fechaEntrega] [date] NULL,
	[prioridad] [varchar](50) NULL,
	[observaciones] [varchar](200) NULL,
	[estado] [varchar](20) NULL
)

CREATE TABLE [dbo].[repuesto](
	[idRepuesto] [int] PRIMARY KEY IDENTITY(10000,1) NOT NULL,
	[nombreRepuesto] [varchar](100) NULL,
)

CREATE TABLE [dbo].[servicio](
	[idServicio] [int] PRIMARY KEY IDENTITY(1,1) NOT NULL,
	[nombreServicio] [varchar](200) NULL,
)

CREATE TABLE [dbo].[tipo_usuario](
	[idTipoUsuario] [int] PRIMARY KEY IDENTITY(1,1) NOT NULL,
	[cargo] [varchar](50) NULL
)

CREATE TABLE [dbo].[usuario](
	[idUsuario] [int] PRIMARY KEY IDENTITY(1,1) NOT NULL,
	[fk_idTipoUsuario] [int] NULL,
	[nombreUsuario] [varchar](50) NULL,
	[passUsuario] [varchar](50) NULL
)

CREATE TABLE [dbo].[vehiculo](
	[patente] [varchar](6) PRIMARY KEY NOT NULL,
	[fk_rutCliente] [varchar](10) NULL,
	[tipoVehiculo] [varchar](50) NULL,
	[marca] [varchar](50) NULL,
	[modelo] [varchar](50) NULL,
	[ano] [int] NULL,
	[kilometraje] [decimal](18, 4) NULL
)

ALTER TABLE [dbo].[detalle_orden]  WITH CHECK ADD FOREIGN KEY([fk_folioOrden])
REFERENCES [dbo].[orden_trabajo] ([folioOrden])
GO
ALTER TABLE [dbo].[detalle_orden]  WITH CHECK ADD FOREIGN KEY([fk_idServicio])
REFERENCES [dbo].[servicio] ([idServicio])
GO
ALTER TABLE [dbo].[detalle_orden]  WITH CHECK ADD FOREIGN KEY([fk_idRepuesto])
REFERENCES [dbo].[repuesto] ([idRepuesto])
GO
ALTER TABLE [dbo].[detalle_presupuesto]  WITH CHECK ADD FOREIGN KEY([fk_folioEncabezado])
REFERENCES [dbo].[encabezado_presupuesto] ([folioEncabezado])
GO
ALTER TABLE [dbo].[detalle_presupuesto]  WITH CHECK ADD FOREIGN KEY([fk_idservicio])
REFERENCES [dbo].[servicio] ([idServicio])
GO
ALTER TABLE [dbo].[detalle_presupuesto]  WITH CHECK ADD FOREIGN KEY([fk_idRepuesto])
REFERENCES [dbo].[repuesto] ([idRepuesto])
GO
ALTER TABLE [dbo].[encabezado_presupuesto]  WITH CHECK ADD FOREIGN KEY([fk_rutCliente])
REFERENCES [dbo].[cliente] ([rutCliente])
GO
ALTER TABLE [dbo].[encabezado_presupuesto]  WITH CHECK ADD FOREIGN KEY([fk_patente])
REFERENCES [dbo].[vehiculo] ([patente])
GO
ALTER TABLE [dbo].[orden_trabajo]  WITH CHECK ADD FOREIGN KEY([fk_idUsuario])
REFERENCES [dbo].[usuario] ([idUsuario])
GO
ALTER TABLE [dbo].[orden_trabajo]  WITH CHECK ADD FOREIGN KEY([fk_rutCliente])
REFERENCES [dbo].[cliente] ([rutCliente])
GO
ALTER TABLE [dbo].[orden_trabajo]  WITH CHECK ADD FOREIGN KEY([fk_patente])
REFERENCES [dbo].[vehiculo] ([patente])
GO
ALTER TABLE [dbo].[usuario]  WITH CHECK ADD FOREIGN KEY([fk_idTipoUsuario])
REFERENCES [dbo].[tipo_usuario] ([idTipoUsuario])
GO
ALTER TABLE [dbo].[vehiculo]  WITH CHECK ADD FOREIGN KEY([fk_rutCliente])
REFERENCES [dbo].[cliente] ([rutCliente])

/***************** INGRESO DE DATOS *****************/

INSERT tipo_usuario VALUES ('ADMINISTRADOR')
INSERT tipo_usuario VALUES ('MECANICO')
INSERT tipo_usuario VALUES ('CLIENTE')

INSERT usuario VALUES (1, 'FELIPE', '123')
INSERT usuario VALUES (1, 'ROBERTO', '123')
INSERT usuario VALUES (1, 'NICOLAS', '123')

INSERT servicio VALUES ('Mantención por Kilometraje')
INSERT servicio VALUES ('Ajuste de Motor')
INSERT servicio VALUES ('Reparación Diferenciales')

INSERT repuesto VALUES ('Neumático')
INSERT repuesto VALUES ('Batería')
INSERT repuesto VALUES ('Lubricante')


INSERT cliente VALUES ('17248124-8', 'Felipe', 'Munoz', 'Avenida Nosellama 123', 994042289, 'felipemunoz@gmail.com')

INSERT vehiculo VALUES ('PX1234', '17248124-8', 'AUTO', 'TOYOTA', 'TERCEL', 2004, 2500)


SELECT * FROM orden_trabajo

SELECT * FROM detalle_orden

SELECT * FROM encabezado_presupuesto

SELECT * FROM detalle_presupuesto

SELECT * FROM servicio

SELECT * FROM repuesto

SELECT * FROM cliente

SELECT * FROM vehiculo 
